html{
    font-family: "Instrument_Seriff.ttf";
    font-size: 15px;;
}
@font-face {
    font-family: "RobotoMono-Regular";
    src: url("RobotoMono-Regular.ttf");
}
@font-face {
    font-family: "VinaSans-Regular";
    src: url("VinaSans-Regular.ttf");
}
#title{
    font-size: 20px;
}
.guide{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.color-guide, .font-guide, .style-guide{
    display:flex;
    border: 1px solid black;
    width: 1200px;
    margin: 10px auto;
}
.colors-container{
    margin: 10px 40px;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.fonts-container{
    margin: 10px 40px;
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
}
.colors-container div{
    width: 300px; ;
    margin: 5px 5px;
    display: inline-block;
    text-align: center;
}

.fonts-container div{
    width:fit-content;
    margin: 5px 50px;
}
.fonts-container h2{
    text-decoration: underline;
    font-weight: lighter;
}
.fonts-container h3{
    font-weight:lighter;
}
.Maroon{
    background-color: #800000 ;
    color:white;
}

.Red{
    background-color: #D00000;
    color: white;
}

.orange{
    background-color: #E85D04;
}
.gold{
    background-color: #FFBA08;
}

.RobotoMono{
    font-family: "RobotoMono-Regular";
}
.VinaSans{
    font-family: "VinaSans-Regular";
}
