html{
  background: #283618;
  font-family: 'Helvetica neue', sans-serif;
  text-align: center;
  font-size: 10px;
}

h1{
  font-size: 40px;
  margin: 0px auto 0px;
  text-transform: uppercase;
}

body{
  margin: 0;
  font-size: 2rem;
  display: flex;
  flex: 1;
  min-height: 100vh;
  align-items: center;
}

.search-form {
  max-width: 400px;
  margin: 0px auto;
}

input.search {
  margin: 0;
  text-align: center;
  outline: 0;
  border: 10px solid #F7F7F7;
  width: 120%;
  left: -10%;
  position: relative;
  top: 10px;
  z-index: 3;
  border-radius: 5px;
  font-size: 40px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.12), inset 0 0 2px rgba(0, 0, 0, 0.19);
}

.suggestions {
  margin: 0;
  padding: 0;
  position: relative;
  overflow: hidden;
  /*perspective: 20px;*/
}
.suggestions li {
  background: white;
  list-style: none;
  border-bottom: 1px solid #D8D8D8;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.14);
  margin: 0;
  padding: 20px;
  transition: background 0.2s;
  display: flex;
  justify-content: space-between;
  text-transform: capitalize;
}

.suggestiona li:first-child{
  transform: perspective(100px) rotateX(-3deg) translateY(3px);
  background: linear-gradient(to top,  red 0%,red 100%);
}
.suggestions li:nth-child(even) {
  transform: perspective(100px) rotateX(3deg) translateY(2px) scale(1.01);
  background: linear-gradient(to bottom,  green 0%, green 100%);

}

.suggestions li:nth-child(odd) {
  transform: perspective(100px) rotateX(-3deg) translateY(3px);
  background: linear-gradient(to top,  #ffffff 0%,#EFEFEF 100%);
}
.clock{
  width: 30rem;
  line-height: 30rem;
  height: 30rem;
  border: 20px solid #fefae0;
  border-radius: 50%;
  margin: 0px auto;
  position: relative;
  padding: 2rem;
  box-shadow: 0 0 0 4px rgba(0, 0, 0, 0.1), 
              inset 0 0 0 3px #dda15e, 
              inset 0 0 10px black, 
              0 0 10px rgba(0, 0, 0, 0.2);
}

.clock-face{
  position: relative;
  width: 100%;
  height: 100%;
  transform: translateY(-3px);
}

.hand{
  width: 50%;
  height: 6px;
  background: #dda15e;
  position: absolute;
  top: 50%;
  transform-origin: 100%; 
  transform: rotate(90deg);
  transition: all 0.5s;
  transition-timing-function: ease-in-out;
}

.clock ul{
  list-style: none;
  background: radial-gradient(
  );
  height: 100%;
  width: 100%;
  
}

